<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>List of Profiles</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2><u>CV Database Profile List </u></h2>
            </div>

        </div>
{% for profil in profile %}
<div class="row">
        <div class="col-md-2">
            {{ profil.name|title }}
    </div>
    <div class="col-md-4">
        <a href="/{{ profil.id }}" class="btn btn-warning">Download CV</a>
    </div>
</div>
</hr>
{% endfor %}

    </div>
</body>
</html>